<head>
    <title>GeyserMC Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="GeyserMC" />
    <meta name="keywords"
        content="minecraft, bedrock, java, protocol, packet, pe, geyser, bridge, bedrock-edition, java-edition, proxy, java servers on bedrock, java server on phone, minecraft bridge, cross platform, protocol translator, translator, middleware, bedrock on java, minecraft server" />
    <meta name="description"
        content="Geyser is a bridge between Minecraft: Bedrock Edition and Minecraft: Java Edition which allows you to join Minecraft Java servers with Bedrock Edition servers to enable true cross-platform." />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="GeyserMC Blog">
    <meta name="application-name" content="GeyserMC Blog">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.geysermc.org">
    <meta property="og:title" content="GeyserMC Blog">
    <meta property="og:description"
        content="Geyser is a bridge between Minecraft: Bedrock Edition and Minecraft: Java Edition which allows you to join Minecraft Java servers with Bedrock Edition servers to enable true cross-platform.">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@geyser_mc">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=JsSFAj">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=JsSFAj">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png?v=JsSFAj">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=JsSFAj">
    <link rel="shortcut icon" href="/favicon.ico?v=JsSFAj">

    <script src="https://kit.fontawesome.com/d4a2740f92.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        const gmc_nav_listener = function () {
            let navbar = $(".navbar");
            let navbar_logo = $('.nav-logoimg');
            if ($(document).scrollTop() > 180) {
                navbar.css("background-color", "rgba(0, 0, 0, 0.9)");
                navbar.css("box-shadow", "0 .5rem 1rem rgba(0, 0, 0, 0.15)");
                navbar.css("padding", "5px 10px 5px 10px");
                // navbar_logo.css("opacity", '1.0');
            } else {
                navbar.css("background-color", "rgba(255, 255, 255, 0.0)");
                navbar.css("box-shadow", "0 .5rem 1rem rgba(0, 0, 0, 0.0)");
                navbar.css("padding", "5px 10px 5px 10px");
                // navbar_logo.css("opacity", '0.0');
            }
        };
        $(document).ready(function () {
            $(window).scroll(gmc_nav_listener);
        });
    </script>
</head>